<h2>Hi, <%= current_user.username %> </h2>

<% if current_user.consoles == []%>
<p>It looks like you don't have any consoles. Why don't you add one?</p>
<a href="/consoles/new">Create a Console</a>
  <%else%>
  <% Console.all.each do |c| %>
    <% if c.user_id == current_user.id %>
      <li> <a href="/consoles/<%=c.id%>"> <%=c.name%></a>  Released: <%=c.year_released%> Purchased: <%=c.year_purchased%></li>
  <% end %>
  <% end %>
  <br>
  <a href="/consoles/new"> Add Another Console?</a>
  <% end %>
