<h2><%=@game.name%> Information</h2>

<li>Game Name: <%=@game.name%></li>
<li>Your Rating: <%=@game.rating%></li>
<li>Your Review: <%=@game.review%></li>

<br>
<br>
<a href="/games/<%=@game.id%>/edit"> Edit Game</a>
<br>
<br>
<p>Delete This Game?</p>
<form method="POST" action="/games/<%=@game.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Game" value="Delete Game">
</form>
