<h2>Hey look at all of your games, <%=current_user.username%>!</h2>
<% if current_user.games.count == 0 %>
  <p>It looks like you don't have any games. Why don't you <a href="/games/new">add one</a> to your library?</p>
  <%else%>
  <% Game.all.each do |g| %>
    <% if g.user_id == current_user.id %>
      <li><%="Name: #{g.name}"%></li>
      <li><%="Rating: #{g.rating}"%></li>
      <li><%="Review: #{g.review}"%></li>
  <% end %>
  <% end %>
  <br>
  <a href="/games/new"> Add Another Game?</a>
  <% end %>
  <br>
  <a href="/users/<%=current_user.id%>/show">Back to Your Profile </a>
